body  {
        margin: 0; 
        padding: 0; 
        min-height: 100vh;  
        background: linear-gradient(135deg, blue, green); 
        background-image:     
            radial-gradient(circle at 20% 20%, PaleGreen (253, 12, 221, 0.4) 0%, transparent 60%), 
            radial-gradient(circle at 80% 80%, NavajoWhite (5, 237, 245, 0.3) 0%, transparent 70%); 
        background-blend-mode: overlay; 
        font-family: sans-serif;
        height: 190vh;

}

input {
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.titre {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        color: white;
}

.sous-titre {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
}

.container {
    text-align: center;
    background-color: white;
    min-width: min-content;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    width: 30%;
}

button {
        border-radius: 10px;
        background-color: purple;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
}
button:hover {
        transform: scale(1.05);

}

a {color: black}
a:hover {color: blue;}

.paragraphe-presentation {
        margin-top: 50px;
        display: flex
}

.paragraphe-presentation img {
        width: 40%;
        float: left;
        border-radius: 50px;
}

.paragraphe-presentation p {
        font-size: 25px;
}
        

.p1 {margin-top: 100px; 
        max-width: 100%;
        padding: 100px;
        gap: 10px;
        display: flex;
        /*background-color: white;*/
}

.p1 img {
        width: 40%;
        float: left;
        border-radius: 50px;   
}

.p1 .texte{
        width: 60%;
        float:right;
        font-size: 30px;
}

.p2 {margin-top: 50px; 
        max-width: 100%;
        padding: 100px;
        gap: 10px;
        display: flex;
        /*background-color: white;*/
}

.p2 img {
        width: 40%;
        float: left;
        border-radius: 50px;
        
}
.p2 .texte{
        width: 60%;
        float:right;
        font-size: 30px;

}






