body  {
        margin: 0; 
        background: linear-gradient(135deg, blue, green);
        */
        background-image:     
            radial-gradient(circle at 20% 20%, PaleGreen (253, 12, 221, 0.4) 0%, transparent 60%),
            radial-gradient(circle at 80% 80%, NavajoWhite (5, 237, 245, 0.3) 0%, transparent 70%); 
        */
        background-blend-mode: overlay; 
        font-family: sans-serif;
        height: 180vh;
}

input {
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.titre {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        color: white;
}

.sous-titre {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
}

.container {
        text-align: center;
        background-color: white;
        min-width: min-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
        border-radius: 20px;
        padding: 15px;
        width: 30%;
}

button {
        border-radius: 10px;
        background-color: purple;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
}
button:hover {
        transform: scale(1.05);

}

a {
        color: black;
}
a:hover {
        color: blue;
}

.paragraphe-presentation {
        display: flex;
        gap: 20px;
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
}

.paragraphe-presentation img {
        width: 30%;
        float: left;
        border-radius: 50px;
}

.paragraphe-presentation .text-presentation {
        width: 70%;
        /*
        font-size: 20px;
        */
        float: right;
        text-align: justify;
}

