body  {
        margin: 0; 
        background-color: #FFF;
        font-family: sans-serif;
}

#Bandaux {
        position: sticky;
        top: 0;
        background-color: purple;
        color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        height: 100px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
}

#Bandaux h1 {
        margin: 0;
}

#documents {
        border-radius: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background: lavender;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 10px;
}

.document {
        color: #000000;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        padding: 10px;
        border: 1px solid #ebebeb;
        border-radius: 12px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        background-color: #f1f1f1;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}
 .document:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

#btn_new {
        background-color: purple; 
        color: white; 
        border: none; 
        cursor: pointer;
        position: fixed;
        bottom: 5%;
        right: 5%;
        border-radius: 100%;
        width: 75px;
        height: 75px;
        font-size: 50px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#btn_new:hover {
        transform:scale(1.2) ;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

dialog {
        border: none; 
        padding: 20px; 
        border-radius: 20px;
        background: white; 
        box-shadow: 0 0 20px;
}
dialog[open] {
        display: flex;
        flex-direction: column;
        gap: 10px ;
}

dialog input {
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dialog_actions {
        display: flex;
        justify-content: center;
        gap: 30px;
}

.dialog_actions button {        
        border-radius: 10px; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        cursor: pointer;
        width: 20%
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dialog_actions button:hover {
        transform:scale(1.2) ;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#btn_back {
        background-color: lightgrey;
}

#btn_create {
        background-color: purple; 
}
