body  {
        margin: 0; 
        background-color: #FFF;
        font-family: sans-serif;
}

#Bandaux {
        position: sticky;
        top: 0;
        background-color: purple;
        color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        height: 100px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
}

#Bandaux h1 {
        margin: 0;
}

#log_out {
        border: none;
        border-radius: 20px;
        padding: 0px;
}

#log_out img {
        width: 50px;
}

#own_documents, #shared_documents {
        border-radius: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background: lavender;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 10px;
}

.document {
        display: flex;
        align-items: center;
        gap: 10px;

        color: #000000;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        padding: 5px;
        border: 1px solid #ebebeb;
        border-radius: 12px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
        background-color: #f1f1f1;
        transition: filter 0.2s ease, box-shadow 0.2s ease;
}
 .document:hover:not(:has(.btn_menu:hover)) {
        filter: brightness(80%);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
}

.img_file {
        width: 30px;
        border-radius: 20px;
}

.document p {
        margin: 0;
}

.btn_menu {
        height: 30px;
        margin-left: auto;
        transition: transform 0.2s ease;
}
.btn_menu:hover {
        transform:scale(1.2) ;
        cursor: pointer;
}

#btn_new {
        background-color: purple; 
        color: white; 
        border: none; 
        cursor: pointer;
        position: fixed;
        bottom: 5%;
        right: 5%;
        border-radius: 100%;
        width: 75px;
        height: 75px;
        font-size: 50px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#btn_new:hover {
        transform:scale(1.2) ;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

dialog {
        border: none; 
        padding: 20px; 
        border-radius: 20px;
        background: white; 
        box-shadow: 0 0 20px;
}
dialog[open] {
        display: flex;
        flex-direction: column;
        gap: 10px ;
}

dialog input {
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        padding: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.dialog_actions {
        display: flex;
        justify-content: center;
        gap: 30px;
}

.dialog_actions button {        
        border-radius: 10px; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        cursor: pointer;
        width: 20%;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dialog_actions button:hover {
        transform:scale(1.2) ;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#btn_back {
        background-color: lightgrey;
}

#btn_create {
        background-color: purple; 
}

#document_menu {
        position: absolute;
        background-color: white;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
}

#document_menu button {
        border: none;
        border-radius: 10px;
        background-color: purple;
        color: white;
        cursor: pointer;
        padding: 10px 15px;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
}
#document_menu button:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: scale(1.05);
}