body  {
        margin: 0; 
        min-height: 100vh;  
        background: linear-gradient(135deg, #ee94ef,#8f139e); 
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

h1 {
        font-size: 50px;
        color: white;
}

#zone_de_texte {
        margin: 20px;
        border-radius: 20px;
        width: 80%;
        min-height: 70vh;
        height: min-content;
        resize: none;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        background-color: white;
}

