body  {
        margin: 0; 
        min-height: 100vh;  
        background: linear-gradient(135deg, #ee94ef,#8f139e); 
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

h1 {
        font-size: 50px;
        color: white;
}

#zone_de_texte {
        margin: 20px;
        padding: 20px 20px;
        border-radius: 20px;
        width: 80%;
        min-height: 70vh;
        resize: none;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        outline: none;
}

#btn_back {
        position: fixed;
        top: 20px;
        left: 20px;

        width: 48px;
        height: 48px;

        border: none;
        border-radius: 50%;

        font-size: 35px;

        cursor: pointer;
        background-color: white;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease,
}
#btn_back:hover {
        transform: scale(1.15);
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);
}
#btn_back:active {
        transform: scale(0.95);
}
