body  {
        margin: 0; 
        min-height: 100vh;  
        background: linear-gradient(135deg, #ee94ef,#8f139e); 
        background-image:     
            radial-gradient(circle at 20% 20%, PaleGreen (253, 12, 221, 0.4) 0%, transparent 60%), 
            radial-gradient(circle at 80% 80%, NavajoWhite (5, 237, 245, 0.3) 0%, transparent 70%); 
        background-blend-mode: overlay;
        font-family: sans-serif;

}

h1 {
        text-align: center;
        font-size: 50px;
}

#zone_de_texte {
        margin: 20px auto;
        border-radius: 20px;
        width: 80%;
        min-height: 70%;
        resize: none;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
